@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.upload-wrapper {
  @include flex-center-column;
}

.upload {
  @include flex-center-column;

  width: 90%;

  @include media($tablet-breakpoint) {
    padding: 2rem;
  }

  @include media($desktop-breakpoint) {
  }

  &__title {
    font-size: $mobile-page-header-text-size;
    font-weight: $mobile-page-header-text-weight;
    margin-bottom: 1rem;
    width: 100%;
    text-align: left;

    @include media($tablet-breakpoint) {
      font-size: $wide-screen-section-header-text-size;
      padding-bottom: 2rem;
      width: 100%;
      border-bottom: solid $primary-color-silver 2px;
      text-align: left;
    }

    @include media($desktop-breakpoint) {
      text-align: left;
    }
  }

  &__form {
    @include flex-center-column;
    width: 100%;

    @include media($tablet-breakpoint) {
      align-items: flex-start;
      width: 100%;
      margin: 0 auto;
    }

    &-container {
      width: 100%;

      @include media($desktop-breakpoint) {
        @include flex-center-row;
        align-items: flex-start;
        border-bottom: solid $primary-color-silver 2px;
        margin-bottom: 2rem;
      }
    }

    &-group {
      width: 100%;
      margin-bottom: 1.5rem;
    }

    &-left {
      @include media($desktop-breakpoint) {
        width: 40%;
        height: 25rem;
        display: flex;
        flex-direction: column;
        align-items: start;
      }
    }

    &-right {
      @include media($desktop-breakpoint) {
        width: 60%;
        // height: 25rem;
        display: flex;
        flex-direction: column;
      }
    }

    &-label {
      font-size: $mobile-section-header-text-size;
      font-weight: $mobile-section-header-text-weight;
      margin-bottom: 0.5rem;
      text-align: left;

      @include media($tablet-breakpoint) {
        font-size: $wide-screen-subheader-text-size;
      }
    }

    &-thumbnail {
      @include flex-center-column;
      margin-bottom: 1rem;
      overflow: hidden;
      width: 100%;
      height: auto;

      @include media($tablet-breakpoint) {
        width: 100%;
        align-items: flex-start;
      }

      @include media($desktop-breakpoint) {
        width: 100%;
        align-items: start;
      }

      &-image {
        max-width: 100%;
        max-height: 100%;
        // width: auto;
        // height: auto;
        object-fit: contain;

        @include media($desktop-breakpoint) {
          width: 95%;
          // height: 40vh;
        }
      }
    }

    &-input,
    &-textarea {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid $primary-color-silver;
      border-radius: 4px;
      font-size: $mobile-body-text-size;
      font-family: "Avenir Next", sans-serif;
      color: $primary-color-black;
      box-sizing: border-box;

      &::placeholder {
        color: $primary-color-black;
      }

      @include media($tablet-breakpoint) {
        font-size: $wide-screen-body-text-size;
      }
    }

    &-textarea {
      // height: 13rem;
      resize: none;

      @include media($desktop-breakpoint) {
        height: 22vh;
      }
    }

    &-actions {
      @include flex-center-column;
      width: 80%;

      @include media($tablet-breakpoint) {
        @include flex-center-row;
        width: 100%;
        justify-content: flex-end;
      }
    }

    &-button {
      @include flex-center-row;
      width: 100%;
      padding: 0.75rem 1.5rem;
      font-size: $mobile-button-text-size;
      font-weight: $mobile-button-text-weight;
      cursor: pointer;
      margin-bottom: 1rem;
      border-radius: 4px;
      text-align: center;

      @include media($tablet-breakpoint) {
        width: 30%;
        margin-bottom: 0;
      }

      &--publish {
        background-color: $primary-color-blue;
        color: $primary-color-white;
        border: none;
        width: 100%;
        margin-bottom: 0;
        order: 1;

        @include media($tablet-breakpoint) {
          width: 40%;
          margin-bottom: 0;
          order: 2;
        }
      }

      &--cancel {
        background-color: transparent;
        color: $primary-color-blue;
        border: none;
        width: 100%;
        order: 2;

        @include media($tablet-breakpoint) {
          width: 40%;
          margin-bottom: 0;
          order: 1;
        }
      }
    }
  }
}
