@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Avenir Next", sans-serif;
  line-height: 32px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 44px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  font-family: "Avenir Next", sans-serif;
}
@media (min-width: 768px) {
  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  font-family: "Avenir Next", sans-serif;
}
@media (min-width: 768px) {
  h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
}

.h3-light-gray {
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  font-family: "Avenir Next", sans-serif;
  color: rgb(201, 197, 197);
}

p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
  line-height: 22px;
}
@media (min-width: 768px) {
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
}

a {
  font-size: 18px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 768px) {
  a {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
  }
}
a:hover {
  cursor: pointer;
  transform: scale(1.2);
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Avenir Next", sans-serif;
}

.upload-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
}
@media (min-width: 768px) {
  .upload {
    padding: 2rem;
  }
}
.upload__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 1rem;
  width: 100%;
  text-align: left;
}
@media (min-width: 768px) {
  .upload__title {
    font-size: 42px;
    padding-bottom: 2rem;
    width: 100%;
    border-bottom: solid rgb(201, 197, 197) 2px;
    text-align: left;
  }
}
@media (min-width: 1025px) {
  .upload__title {
    text-align: left;
  }
}
.upload__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .upload__form {
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
  }
}
.upload__form-container {
  width: 100%;
}
@media (min-width: 1025px) {
  .upload__form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: solid rgb(201, 197, 197) 2px;
    margin-bottom: 2rem;
  }
}
.upload__form-group {
  width: 100%;
  margin-bottom: 1.5rem;
}
@media (min-width: 1025px) {
  .upload__form-left {
    width: 40%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
@media (min-width: 1025px) {
  .upload__form-right {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
}
.upload__form-label {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: left;
}
@media (min-width: 768px) {
  .upload__form-label {
    font-size: 24px;
  }
}
.upload__form-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .upload__form-thumbnail {
    width: 100%;
    align-items: flex-start;
  }
}
@media (min-width: 1025px) {
  .upload__form-thumbnail {
    width: 100%;
    align-items: start;
  }
}
.upload__form-thumbnail-image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1025px) {
  .upload__form-thumbnail-image {
    width: 95%;
  }
}
.upload__form-input, .upload__form-textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgb(201, 197, 197);
  border-radius: 4px;
  font-size: 18px;
  font-family: "Avenir Next", sans-serif;
  color: #323232;
  box-sizing: border-box;
}
.upload__form-input::-moz-placeholder, .upload__form-textarea::-moz-placeholder {
  color: #323232;
}
.upload__form-input::placeholder, .upload__form-textarea::placeholder {
  color: #323232;
}
@media (min-width: 768px) {
  .upload__form-input, .upload__form-textarea {
    font-size: 18px;
  }
}
.upload__form-textarea {
  resize: none;
}
@media (min-width: 1025px) {
  .upload__form-textarea {
    height: 22vh;
  }
}
.upload__form-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
@media (min-width: 768px) {
  .upload__form-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }
}
.upload__form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 1rem;
  border-radius: 4px;
  text-align: center;
}
@media (min-width: 768px) {
  .upload__form-button {
    width: 30%;
    margin-bottom: 0;
  }
}
.upload__form-button--publish {
  background-color: #3795ff;
  color: #ffffff;
  border: none;
  width: 100%;
  margin-bottom: 0;
  order: 1;
}
@media (min-width: 768px) {
  .upload__form-button--publish {
    width: 40%;
    margin-bottom: 0;
    order: 2;
  }
}
.upload__form-button--cancel {
  background-color: transparent;
  color: #3795ff;
  border: none;
  width: 100%;
  order: 2;
}
@media (min-width: 768px) {
  .upload__form-button--cancel {
    width: 40%;
    margin-bottom: 0;
    order: 1;
  }
}/*# sourceMappingURL=UploadPage.css.map */