// styles/partials/_global.scss

@use "./variables" as *;
@use "./mixins" as *;

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/Alternative files/AvenirNextLTPro.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/Alternative files/AvenirNextLTProBold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: $mobile-page-header-text-size;
  font-weight: $mobile-page-header-text-weight;
  font-family: "Avenir Next", sans-serif;
  line-height: $mobile-page-header-line-height;

  @include media($tablet-breakpoint) {
    font-size: $wide-screen-section-header-text-size;
    font-weight: $wide-screen-section-header-text-weight;
    line-height: $wide-screen-section-header-line-height;
  }
}

h2 {
  font-size: $mobile-section-header-text-size;
  font-weight: $mobile-section-header-text-weight;
  line-height: $mobile-section-header-line-height;
  font-family: "Avenir Next", sans-serif;

  @include media($tablet-breakpoint) {
    font-size: $wide-screen-subheader-text-size;
    font-weight: $wide-screen-subheader-text-weight;
    line-height: $wide-screen-subheader-line-height;
  }
}

h3 {
  font-size: $mobile-section-header-text-size;
  font-weight: $mobile-section-header-text-weight;
  line-height: $mobile-section-header-line-height;
  font-family: "Avenir Next", sans-serif;

  @include media($tablet-breakpoint) {
    font-size: 18px;
    font-weight: $wide-screen-body-text-weight;
    line-height: $wide-screen-body-line-height;
  }
}

p {
  font-size: $mobile-body-text-size;
  font-weight: $mobile-body-text-weight;
  font-family: "Avenir Next", sans-serif;
  line-height: $mobile-body-line-height;

  @include media($tablet-breakpoint) {
    font-size: $wide-screen-body-text-size;
    font-weight: $wide-screen-body-text-weight;
    line-height: $wide-screen-body-line-height;
  }
}

a {
  font-size: $mobile-body-text-size;
  font-weight: $mobile-body-text-weight;
  font-family: "Avenir Next", sans-serif;
  line-height: $mobile-body-line-height;
  text-decoration: none;
  color: $primary-color-white;

  @include media($tablet-breakpoint) {
    font-size: $wide-screen-body-text-size;
    font-weight: $wide-screen-body-text-weight;
    line-height: $wide-screen-body-line-height;
    color: $primary-color-white;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Avenir Next", sans-serif;
}
