// COLORS
$primary-color-black: #323232;
$primary-color-silver: #afafaf;
$primary-color-white: #ffffff;
$primary-color-blue: #3795ff;

// MEDIA QUERIES
$mobile-breakpoint: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1025px;

// MOBILE
$mobile-page-header-text-size: 32px;
$mobile-page-header-line-height: 32px;
$mobile-page-header-text-weight: 700;
$mobile-section-header-text-size: 18px;
$mobile-section-header-line-height: 22px;
$mobile-section-header-text-weight: 600;
$mobile-subheader-text-size: 14px;
$mobile-subheader-line-height: 18px;
$mobile-subheader-text-weight: 400;
$mobile-body-text-size: 13px;
$mobile-body-line-height: 18px;
$mobile-body-text-weight: 400;

// WIDE SCREEN
$wide-screen-section-header-text-size: 24px;
$wide-screen-section-header-line-height: 28px;
$wide-screen-section-header-text-weight: 700;
$wide-screen-subheader-text-size: 20px;
$wide-screen-subheader-line-height: 24px;
$wide-screen-subheader-text-weight: 600;
$wide-screen-body-text-size: 16px;
$wide-screen-body-line-height: 20px;
$wide-screen-body-text-weight: 400;

// BUTTONS
$mobile-button-text-size: 16px;
$mobile-button-text-weight: 700;
