@use "./mixins" as *;
@use "./variables" as *;

.header {
  @include flex-center-column;
  padding: 1rem;

  &__logo {
    padding: 1rem;
    width: 80%;
    font-size: $mobile-page-header-text-size;

    &--brainflix-logo {
      height: 3rem;
    }

    @include media($tablet-breakpoint) {
      font-size: $tablet-page-header-text-size;
    }

    @include media($desktop-breakpoint) {
      font-size: $desktop-page-header-text-size;
      width: 60%;
    }
  }

  &__search-container {
    @include flex-row;
    align-items: center;
    width: 80%;
    padding: 1rem;

    &--search-bar-wrapper {
      @include flex-row;
      align-items: center;
      border: solid $primary-color-silver;
      background-color: rgba(246, 243, 243, 0.55);
      border-radius: 0.5rem;
      width: 100%;
      padding: 0.5rem;
      margin-right: 2rem;

      &--search {
        padding: 0.5rem;
        border: none;
        margin-right: 1rem;
        font-size: $mobile-subheader-text-size;
        font-weight: $mobile-subheader-text-weight;
        background-color: rgba(246, 243, 243, 0.55);

        &::placeholder {
          color: $primary-color-black;
        }
      }

      &--user-logo {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
      }
    }
  }

  &__uploader {
    width: 80%;
    margin: 0.5rem 0;
  }

  &__uploader__button {
    width: 100%;
    background-color: $primary-color-blue;
    color: $primary-color-white;
    border: none;
    border-radius: 5px;
    font-size: $mobile-subheader-text-size;
    font-weight: $mobile-subheader-text-weight;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &--text {
      width: 80%;
    }
  }
}
