@use "./mixins" as *;
@use "./variables" as *;

.header {
  @include flex-center-row;
  flex-wrap: wrap;
  padding: 1rem;

  @include media($tablet-breakpoint) {
    justify-content: space-between;
    border-bottom: solid $primary-color-silver 2px;
  }

  @include media($desktop-breakpoint) {
    padding: 1rem 5rem;
    border-bottom: solid $primary-color-silver 2px;
  }

  &__logo {
    padding: 1rem;
    width: 80%;
    font-size: $mobile-page-header-text-size;

    @include media($tablet-breakpoint) {
      width: auto;
      margin-right: auto;

      order: 1;
      padding: 0;
    }

    &--brainflix-logo {
      height: 3rem;

      @include media($tablet-breakpoint) {
        height: 2.5rem;
      }
    }
  }

  &__search-container {
    @include flex-row;
    align-items: center;
    padding: 1rem;
    width: 80%;

    @include media($tablet-breakpoint) {
      @include flex-center-column;
      width: 30%;
      margin-right: 2rem;
      order: 2;
      padding: 0;
    }

    @include media($desktop-breakpoint) {
      margin-right: 1rem;
    }

    &--search-bar-wrapper {
      @include flex-row;
      align-items: center;
      border: solid $primary-color-silver;
      background-color: rgba(246, 243, 243, 0.55);
      border-radius: 0.5rem;
      width: 100%;
      padding: 0.5rem;

      @include media($tablet-breakpoint) {
        width: 90%;
      }

      &--search {
        padding: 0.5rem;
        border: none;
        font-size: $mobile-subheader-text-size;
        font-weight: $mobile-subheader-text-weight;
        background-color: rgba(246, 243, 243, 0.55);
        width: 100%;

        &::placeholder {
          color: $primary-color-black;
        }
      }
    }

    &--user-logo {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;

      @include media($tablet-breakpoint) {
        margin-left: 1rem;

        order: 4;
      }
    }
  }

  &__uploader {
    @include flex-center-column;
    width: 90%;
    margin: 0.5rem 0;
    font-size: $mobile-section-header-text-size;

    @include media($tablet-breakpoint) {
      @include flex-center-column;
      width: 20%;

      margin: 0;
      order: 3;
    }

    @include media($desktop-breakpoint) {
      width: 12%;
    }

    a {
      width: 100%;

      @include media($tablet-breakpoint) {
        width: 100%;
      }

      @include media($desktop-breakpoint) {
        width: 100%;
      }
    }

    &__button {
      @include flex-center-row;
      width: 100%;
      background-color: $primary-color-blue;
      color: $primary-color-white;
      border: none;
      border-radius: 5px;
      font-size: $mobile-subheader-text-size;
      font-weight: $mobile-subheader-text-weight;
      cursor: pointer;

      @include media($tablet-breakpoint) {
        width: 100%;
        padding: 0 0.5rem;
      }

      @include media($desktop-breakpoint) {
        width: 100%;
        padding: 0 0.7rem;
      }

      &--text {
        width: 80%;
        font-weight: 700;
      }
    }
  }
}
