@use "./mixins" as *;
@use "./variables" as *;

.header {
  @include flex-center-column;
  padding: 1rem;
  border: solid green;

  &__logo {
    width: 80%;
    font-size: $mobile-page-header-text-size;
    // font-weight: bold;
    border: solid pink;

    &--brainflix-logo {
      height: 2.5rem;
    }
  }

  &__search-user {
    width: 80%;
    @include flex-center-row;
    margin: 0.5rem 0;
    border: solid pink;
  }

  &__search {
    width: 80%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    margin-right: 1rem;
    border: solid blue;
    font-size: $mobile-subheader-text-size;
    font-weight: $mobile-subheader-text-weight;
  }

  &__user-logo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: solid blue;
  }

  &__uploader {
    width: 80%;
    margin: 0.5rem 0;
    border: solid pink;
  }

  &__uploader__button {
    width: 100%;
    background-color: $primary-color-blue;
    color: $primary-color-white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: $mobile-subheader-text-size;
    font-weight: $mobile-subheader-text-weight;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid red;

    &--text {
      width: 80%;
      font-size: $mobile-button-text-size;
      font-weight: $mobile-button-text-weight;
      border: solid red;
    }
  }
}
