@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Avenir Next", sans-serif;
  line-height: 32px;
}
@media (min-width: 768px) and (max-width: 1025px) {
  h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  font-family: "Avenir Next", sans-serif;
}
@media (min-width: 768px) and (max-width: 1025px) {
  h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
  font-family: "Avenir Next", sans-serif;
}
@media (min-width: 768px) and (max-width: 1025px) {
  h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
}

.h3-light-gray {
  color: #afafaf;
}

p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
  line-height: 22px;
}
@media (min-width: 768px) and (max-width: 1025px) {
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}

a {
  font-size: 18px;
  font-weight: 400;
  font-family: "Avenir Next", sans-serif;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 1025px) {
  a {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
  }
}
a:hover {
  cursor: pointer;
  transform: scale(1.2);
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Avenir Next", sans-serif;
}

.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.video__player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-description {
  padding: 2rem;
}
.video-description__title {
  margin-bottom: 0.5rem;
  border-bottom: solid lightgrey;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.video-description__title h1 {
  text-align: left;
}
.video-description__details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.video-description__details--container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
}
.video-description__details--creator {
  margin: 1rem 0;
}
.video-description__details--creator h3 {
  margin: 0;
  text-align: left;
}
.video-description__details--date {
  font-weight: bold;
  margin: 1rem 0;
}
.video-description__details--date h3 {
  margin: 0;
  text-align: left;
}
.video-description__details--stats {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.video-description__details--stats__views {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin: 1rem 0;
}
.video-description__details--stats__views h3 {
  margin: 0;
  text-align: left;
}
.video-description__details--stats__likes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin: 1rem 0;
}
.video-description__details--stats__likes h3 {
  margin: 0;
}
.video-description__description-content {
  text-align: left;
}

.commentForm-section {
  padding: 2rem;
  min-height: 100vh;
  border-bottom: solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.commentForm-section__no-of-comments {
  width: 100%;
  text-align: left;
  margin: 0;
}
.commentForm-section__title-container {
  width: 70%;
  margin-top: 3rem;
  text-align: left;
}
.commentForm-section__form-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}
.commentForm-section__form-section--form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.commentForm-section__form-section--form-container--form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  width: 100%;
  margin-left: 2rem;
  border-radius: 5px;
  box-sizing: border-box;
}
.commentForm-section__form-section--form-container--form label {
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.commentForm-section__form-section--form-container--form input[type=text],
.commentForm-section__form-section--form-container--form textarea {
  width: 100%;
  height: 12rem;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #afafaf;
  border-radius: 4px;
  font-family: "Avenir Next";
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  box-sizing: border-box;
  resize: none;
}
.commentForm-section__form-section--form-container--form input[type=text]:nth-child(4),
.commentForm-section__form-section--form-container--form textarea:nth-child(4) {
  height: 200px;
}
.commentForm-section__form-section--form-container--form button[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #3795ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}
.commentForm-section__form-section--form-container--form button[type=submit] svg {
  margin-left: 0.5rem;
  width: 20px;
  height: 20px;
  fill: white;
}
.commentForm-section__form-section--form-container--form button[type=submit] h3 {
  width: 80%;
  font-weight: 700;
}
.commentForm-section__form-section--form-container--form button[type=submit]:hover {
  background-color: #191919;
}
.commentForm-section__form-section--img-container {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 0.5rem;
}
.commentForm-section__form-section--img-container--img {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 50%;
}
.commentForm-section__comments-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.commentForm-section__comments-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1rem 0;
  border-top: solid #afafaf;
}
.commentForm-section__comments-container--img-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.commentForm-section__comments-container--img-container--img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 0.5rem;
  background-color: #afafaf;
}
.commentForm-section__comments-container--content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-left: 1rem;
}
.commentForm-section__comments-container--content-container p {
  text-align: left;
}
.commentForm-section__comments-container--title-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}
.commentForm-section__comments-container--title-container p:nth-child(2) {
  color: #afafaf;
}
.commentForm-section__comments-container--content {
  width: 90%;
  color: #323232;
  box-sizing: border-box;
}
.commentForm-section__like-delete-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
}
.commentForm-section__like-delete-container--like-container {
  width: 20%;
}

.next-videos {
  margin-bottom: 0.5rem;
  padding: 2rem;
}
.next-videos__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.next-videos__title {
  margin-bottom: 0.5rem;
  text-align: left;
}
.next-videos__video-container {
  display: flex;
  padding: 0.5rem;
}
.next-videos__video-container--video-img {
  width: 40%;
  margin-right: 2rem;
}
.next-videos__video-container--video-desc {
  flex: 1;
}
.next-videos__video-container--video-desc-bold {
  text-align: left;
  margin-bottom: 0.25rem;
}
.next-videos__video-container--video-desc-standard {
  text-align: left;
  font-weight: 400;
}
.next-videos__video-container--video-img img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}/*# sourceMappingURL=styles.css.map */