@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: black;

  &__player {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;

    @include media($desktop-breakpoint) {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
