@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.upload-icon {
  width: 24px;
  height: 24px;
  fill: $primary-color-white;
  margin-right: 0.5rem;
}

.search-icon {
  width: 24px;
  height: 24px;
  fill: $primary-color-black;
  padding: 0 0.5rem;
}

.view-icon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  fill: $primary-color-silver;
}

.heart-icon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  fill: $primary-color-silver;
}

.add-icon {
  width: 24px;
  height: 24px;
}
