@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main-content {
  display: flex;
  flex-direction: column;

  @include media($desktop-breakpoint) {
    flex-direction: row; // This should ensure the left and right sections are side by side
    align-items: flex-start; // This aligns items to the top
  }

  &__left {
    flex: 1; // Take up available space
    padding: 0rem;

    @include media($desktop-breakpoint) {
      flex: 1;
      padding: 1rem;
    }
  }

  &__right {
    width: 100%;
    padding: 0rem;

    @include media($desktop-breakpoint) {
      width: 30%; // Width for the right section
      border-left: solid $primary-color-silver;
      padding: 0 1rem; // Spacing within the right section
    }
  }
}
