@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main-content {
  display: flex;
  flex-direction: column;

  @include media($desktop-breakpoint) {
    flex-direction: row;
    align-items: flex-start;
  }

  &__left {
    flex: 1;
    padding: 0rem;

    @include media($desktop-breakpoint) {
      flex: 1;
      padding: 1rem;
    }
  }

  &__right {
    width: 100%;
    padding: 0rem;

    @include media($desktop-breakpoint) {
      width: 30%;
      border-left: solid $primary-color-silver;
      padding: 0;
    }
  }
}
